<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712993585329-5ciuq2u3bucbr4257i21jhcgrv8cklue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712993585329-5ciuq2u3bucbr4257i21jhcgrv8cklue</string>
	<key>API_KEY</key>
	<string>AIzaSyDbu9OLLdG-_0jmmxS3prkRMUpBWcaEWG0</string>
	<key>GCM_SENDER_ID</key>
	<string>712993585329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flower</string>
	<key>PROJECT_ID</key>
	<string>plant-7f0bf</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-7f0bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712993585329:ios:91c785f028e0c5a7ec4a90</string>
</dict>
</plist>